<%= turbo_frame_tag "#{dom_id(playthrough)}_progress" do %>
  <nav aria-label="Progress" class="my-10">
    <!-- Current scene <%= current_scene %> -->
    <ol role="list" class="overflow-hidden">
      <% playthrough.story.scenes.each.with_index do |scene_title, scene_number| %>
        <!-- <%= scene_title %> <% scene_number %> -->
        <% if scene_number < current_scene %>
          <li class="relative pb-10">
            <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-indigo-600" aria-hidden="true"></div>
            <!-- Complete Step -->
            <div class="group relative flex items-start">
              <span class="flex h-9 items-center">
                <span class="relative z-10 flex size-8 items-center justify-center rounded-full bg-indigo-600 group-hover:bg-indigo-800">
                  <svg class="size-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                </span>
              </span>
              <span class="ml-4 flex min-w-0 flex-col">
                <span class="text-sm font-medium"><%= scene_title %></span>
                <span class="text-sm text-gray-500">Scene <%= scene_number %></span>
              </span>
            </div>
          </li>
        <% elsif scene_number === current_scene %>
          <li class="relative pb-10">
            <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300" aria-hidden="true"></div>
            <!-- Current Step -->
            <div class="group relative flex items-start" aria-current="step">
              <span class="flex h-9 items-center" aria-hidden="true">
                <span class="relative z-10 flex size-8 items-center justify-center rounded-full border-2 border-indigo-600 bg-white">
                  <span class="size-2.5 rounded-full bg-indigo-600"></span>
                </span>
              </span>
              <span class="ml-4 flex min-w-0 flex-col">
                <span class="text-sm font-medium text-indigo-600"><%= scene_title %></span>
                <span class="text-sm text-gray-500">Scene <%= scene_number %></span>
              </span>
            </div>
          </li>
        <% else %>
          <li class="<%= "relative pb-10" unless playthrough.story.scene_count === scene_number %>">
            <div class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-gray-300" aria-hidden="true"></div>
            <!-- Upcoming Step -->
            <div class="group relative flex items-start">
              <span class="flex h-9 items-center" aria-hidden="true">
                <span class="relative z-10 flex size-8 items-center justify-center rounded-full border-2 border-gray-300 bg-white group-hover:border-gray-400">
                  <span class="size-2.5 rounded-full bg-transparent group-hover:bg-gray-300"></span>
                </span>
              </span>
              <span class="ml-4 flex min-w-0 flex-col">
                <span class="text-sm font-medium text-gray-500"><%= scene_title %></span>
                <span class="text-sm text-gray-500">Scene <%= scene_number %></span>
              </span>
            </div>
          </li>
        <% end %>
      <% end %>
    </ol>
  </nav>
<% end%>
