<li class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0">
    <div class="flex items-start gap-x-3">
      <p class="text-sm/6 font-semibold text-gray-900"><%= link_to story.title, edit_story_path(story) %></p>
      <p class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Complete</p>
    </div>
    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
      <p class="whitespace-nowrap">Updated <time datetime="2023-03-17T00:00Z"><%= time_ago_in_words(story.updated_at) %> ago</time></p>
      <svg viewBox="0 0 2 2" class="size-0.5 fill-current">
        <circle cx="1" cy="1" r="1" />
      </svg>
      <p class="truncate">Created by Author</p>
    </div>
  </div>
  <div class="flex flex-none items-center gap-x-4">
    <a href="<%= edit_story_path(story) %>" class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Edit Story<span class="sr-only">, <%= story.title %></span></a>
    <%= button_to "Play", play_story_path(story), class: "hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block cursor-pointer" %>
    <div class="relative flex-none group" data-controller="button-menu">
      <button type="button" class="-m-2.5 block p-2.5 text-gray-500 hover:text-gray-900" id="options-menu-0-button" aria-expanded="false" aria-haspopup="true" data-action="button-menu#toggle">
        <span class="sr-only">Open options</span>
        <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
        </svg>
      </button>
      <div class="hidden absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none transition ease-in duration-100 transform opacity-0 scale-95 group-[.menu-open]:block group-[.menu-open]:opacity-100 group-[.menu-open]:scale-100 group-[.menu-open]:ease-out" role="menu" aria-orientation="vertical" aria-labelledby="options-menu-0-button" tabindex="-1">
        <%= link_to story_path(story), class: "hover:bg-gray-50 block px-3 py-1 text-sm/6 text-gray-900", role: "menuitem", tabindex: "-1", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          Delete<span class="sr-only">, <%= story.title %></span>
        <% end %>
      </div>
    </div>
  </div>
</li>
